/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #00a5b8;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header div img{
    width: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons {
    display: flex;
    gap: 30px;
    
}



.botao {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #00a5b8;
    color: rgb(255, 255, 255);
}

#mover-image {
    width: 280px;
    height: auto;
    position: relative;
    top: -10px;
    
    
}

#movable-text {
    font-size: 24px;
    position: absolute;
    top: 40px;
    right: 1350px;
    
}

/* Formulário de Feedback */
.feedback-form {
    max-width: 500px;
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.feedback-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}

.feedback-form label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
    color: #555;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.feedback-form button {
    width: 100%;
    background-color: #3a8fcc;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
}

.feedback-form button:hover {
    background-color: #327bb2;
}

/* Avaliação com Estrelas */
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-top: 10px;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 2rem;
    color: #ddd;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffc107;
}

/* Responsividade */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
    }

    .header-section h1 {
        font-size: 36px;
    }

    .botao {
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }

    .container {
        padding: 10px;
    }
}